{% extends "articles/base.html" %}

{% block content %}
    <h1>Article</h1>
    <a href="{% url 'create_article' %}">Create a article</a>
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h3><a href="{% url 'update_article' article.id %}">{{ article.title }}</a></h3>
                    <p>{{ article.content }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No articles published</p>
    {% endif %}
{% endblock content %}